[Unit]
Description=Stops charging

[Service]
User=pi
Type=simple
# make sure to set correct paths
EnvironmentFile=/home/pi/bin/private/credentials
ExecStart=/home/pi/bin/tesla-api/run.py -i <vehicle_id> --charging-stop
WorkingDirectory=/home/pi/bin/tesla-api/
