[Unit]
Description=Stops charging

[Timer]
OnCalendar=*-*-* 00:00:00
# File describing job to execute
Unit=tesla-charging-stop.service
Persistent=true

[Install]
WantedBy=timers.target
