[Unit]
Description=Turn sentry on

[Timer]
OnCalendar=*-*-* 00:00:00
# File describing job to execute
Unit=tesla-sentry-on.service

[Install]
WantedBy=timers.target
