[Unit]
Description=Sets Tesla sentry mode on

[Service]
User=pi
Type=simple
# make sure to set correct paths
EnvironmentFile=/home/pi/bin/private/credentials
ExecStart=/home/pi/bin/tesla-api/run.py -i <vehicle_id> sentry-mode --on
WorkingDirectory=/home/pi/bin/tesla-api/
